.buttonborder {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 10px;
}
.buttonshort {
  width: 46%;
}
.buttonlong {
  width: 94%;
}

.yes {
  color: black;
}

.no {
  color: white;
}

.nomargin {
  margin: 3px;
}

