.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 300px) {
  .cover {
    width: 100%;
    height: 15em;
    position: relative;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .inner {
    background-color: #fff6f6;
  }
  .outer {
    padding: 10px;
    border-radius: 2em;
    background-color: #45fdba;
    margin: 100px auto 0 auto;
    width: 300px;
  }

  .input {
    border: none;
    background-color: white;
    width: 65%;
    margin-top: 10%;
    padding: 6%;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .input:focus {
    outline-color: black;
  }

  .login_btn {
    width: 80%;
    background-color: rgb(00, 96, 96);
    color: white;
    text-align: center;
    font-size: 5vh;
    border-top-left-radius: 60em;
    border-bottom-right-radius: 60em;
    border-bottom-left-radius: 60em;
    border-top-right-radius: 60em;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .login_btn:hover {
    transform: scale(1.25);
  }

  .text {
    position: relative;
    bottom: -2em;
  }

  .hide {
    position: absolute;
    transform: scale(0);
  }

  .login_popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 1.5s;
  }
  .devs {
    text-align: center;
  }

  .Header {
    background-color: #45fdba;
    padding-left: 10%;
    padding-top: 150px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 900px) {
  .cover {
    width: 100%;
    height: 15em;
    position: relative;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .inner {
    background-color: #fff6f6;
  }
  .outer {
    padding: 3%;
    border-radius: 2em;
    background-color: #45fdba;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .input {
    border: none;
    background-color: white;
    width: 65%;
    margin-top: 10%;
    padding: 6%;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .input:focus {
    outline-color: black;
  }

  .login_btn {
    width: 80%;
    background-color: rgb(00, 96, 96);
    color: white;
    text-align: center;
    font-size: 5vh;
    border-top-left-radius: 60em;
    border-bottom-right-radius: 60em;
    border-bottom-left-radius: 60em;
    border-top-right-radius: 60em;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .login_btn:hover {
    transform: scale(1.25);
  }

  .text {
    position: relative;
    bottom: -2em;
  }

  .hide {
    position: absolute;
    transform: scale(0);
  }

  .login_popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transform: 1.5s;
  }
  .devs {
    text-align: center;
  }

  .Header {
    background-color: #45fdba;
    padding-left: 10%;
    padding-top: 30%;
    padding-bottom: 10%;
  }
}
